
/** Navigation **/
#header {
	border-bottom: 0
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Orbitron';
	font-size: 0;
}

#header #logoBar {
	background-color: #354463;
	margin: 0;
	padding: 0 20% 0 20%;
}

#header #navbar {
	margin: 0;
	padding: 0 20% 0 20%;
	background-color: #424550;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}


#header #navbar ul {
	display: inline-block;
	list-style: none;
	padding: 0 10px 0 10px;
	margin: 0;
	width: 100%;
	height: 100%;
}


#header #navbar li {	
	float: left;
	color: #818181;
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
	text-align: center;
}

#header #navbar li .currentLink {
	background-color: #000000;
}

#header #navbar li:hover {
	background-color: #818181;
	color: #000000;
	cursor: pointer;
}