#navbar {
	display: inline-block;
	list-style: none;
	line-height: 100px;
	margin: 0;
	padding: 10px;
	background-color: #EEEEEE;
	width: 100%;
	border-bottom: 1px solid #e6e6e6;
}

#navbar div {
	margin-left: 20%;
}

#navbar ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#navbar li {
	float: left;
	color: #818181;
	font-size: 20px;
	line-height: 30px;
	text-decoration: none;
	white-space: nowrap;
	margin: 0 20px 0 20px;
}

#navbar li:hover {
	cursor: pointer;
}
