body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-image: url('pics/background/BG_02.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
}

#content {
	margin: 5% 20% 5% 20%;
	padding: 2% 5% 2% 5%;
	border-radius: 10px;
	font-size: 14pt;
	font-weight: normal;
	font-family: 'Inder';
	background: rgba(255, 255, 255, 1);
	min-height: 100%;
	/*border: 1px solid #000;
	box-shadow: 2px 2px 1px #888888;*/
}

#content p {
	line-height: 150%;
	opacity: 1.0;
}
